
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>中式雕花浮雕,铜硅胶模具,精雕厂,精雕雕刻加工-东莞市常平燕飞五金模具厂</title>
    <meta name="keywords" content="中式雕花浮雕,铜硅胶模具,精雕厂,精雕雕刻加工-东莞市常平燕飞五金模具厂" />
    <meta name="description" content="东莞市常平燕飞五金模具厂是一家专业的中式雕花浮雕,铜硅胶模具,精雕厂,精雕雕刻加工.电话:18676043105/胡小姐." />

    <link charset="gb2312" href="cssjs/indexcss.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" type="text/javascript" src="cssjs/indexjs.js"></script>

    <script>
        var uaTest = /Android|webOS|Windows Phone|iPhone|ucweb|ucbrowser|iPod|BlackBerry/i.test(navigator.userAgent.toLowerCase());
        var touchTest = 'ontouchend' in document;
        if(uaTest && touchTest){
            window.location.href='http://m.yanfei168.com';
        }
    </script>

</head>
<body>
<link href="cssjs/allbag.css" rel="stylesheet" type="text/css" />
<!--抬头1-->
<div id="top1">
    <div class="totalwidth">
        <div class="fl">
            您好，欢迎进入东莞市常平燕飞五金模具厂官方网站！
        </div>
        <div class="top_y">
            ※ <a href="sitemap.htm">网站地图</a> ※ <a href="news.html">新闻资讯</a> ※ <a href="feedback.html">在线留言</a> ※ <a href="dgweb-119361.html">联系燕飞</a>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--top2-->
<div id="head">
    <div id="head_bg">
        <div class="fl">
            <a href="/"><img alt="东莞市常平燕飞五金模具厂" src="uploadfile/image/20171114/20171114092817_869435852.png" /></a>
        </div>
        <div class="head_c">
            <div class="c1">
                东莞市常平<span>燕飞五金</span>模具厂
            </div>
        </div>
        <div class="head_h">
            <div class="h1">
                专注于雕刻精密模具
            </div>
            <div class="h2">
                可来图来样定制生产加工
            </div>
        </div>
        <div class="fr">
            <img alt="全国客户服务热线：18676043105" src="uploadfile/image/20171114/20171114092810_975501723.png" /><br />
            <a href="https://humen.1688.com/shop/shop1464109304594" target="_blank"><img alt="" src="uploadfile/image/20171227/20171227164435_818986532.png" /></a>
        </div>
    </div>
</div>
<!--导航-->
<div id="nav_bg">
    <div id="nav_c">
        <div id="nav">
            <ul>
                <li>
                    <a class="a_nav" href="/">网站首页</a>
                </li>
                <li>
                    <a id="a1" href="products.html">产品中心</a>
                </li>
                <li>
                    <a id="a2" href="dgweb-119404.html">应用案例</a>
                </li>
                <li>
                    <a id="a3" href="dgweb-121755.html">视频中心</a>
                </li>
                <li>
                    <a id="a3" href="dgweb-119378.html">合作客户</a>
                </li>
                <li>
                    <a id="a4" href="company.html">关于燕飞</a>
                </li>
                <li>
                    <a id="a5" href="dgweb-119405.html">企业形象</a>
                </li>
                <li>
                    <a id="a6" href="news.html">新闻资讯</a>
                </li>
                <li>
                    <a id="a7" href="dgweb-118968.html">常见问题</a>
                </li>
                <li>
                    <a id="a8" href="feedback.html">在线留言</a>
                </li>
                <li>
                    <a id="a9" href="dgweb-119361.html">联系燕飞</a>
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--此段JS必须放置在导航代码以下-->
<script type="text/javascript">
    // JavaScript Document
    var curUrl = location.pathname.substr(1);
    if (curUrl.indexOf("products") > -1) {
        document.getElementById('a1').className = " a_nav";
    };
    if (curUrl.indexOf("119404") > -1) {
        document.getElementById('a2').className = " a_nav";
    };
    if (curUrl.indexOf("121755") > -1) {
        document.getElementById('a3').className = " a_nav";
    };
    if (curUrl.indexOf("119378") > -1) {
        document.getElementById('a4').className = " a_nav";
    };
    if (curUrl.indexOf("company") > -1) {
        document.getElementById('a5').className = " a_nav";
    };
    if (curUrl.indexOf("119405") > -1) {
        document.getElementById('a6').className = " a_nav";
    };
    if (curUrl.indexOf("news") > -1) {
        document.getElementById('a7').className = " a_nav";
    };
    if (curUrl.indexOf("118968") > -1) {
        document.getElementById('a8').className = " a_nav";
    };
    if (curUrl.indexOf("feedback") > -1) {
        document.getElementById('a9').className = " a_nav";
    };
    if (curUrl.indexOf("119361") > -1) {
        document.getElementById('a10').className = " a_nav";
    };
</script>
<!--banner-->
<div id="flash_bg">
    <script type="text/javascript" src="cssnew/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="cssnew/jq.focus.js"></script>
    <div class="focus">
        <div class="jqfocus">
            <ul>
                <li>
                    <a title="精密模具、工艺品雕刻" style="background:url(&quot;http://login.114my.cn/memberpic/auknui/uploadfile/image/20171115/20171115160502_1065382300.jpg&quot;) no-repeat center;width:100%;height:500px;display:block;" href="dgweb-119404.html"></a>
                </li>
                <li>
                    <a title="精密模具定制生产加工" style="background:url(&quot;http://login.114my.cn/memberpic/auknui/uploadfile/image/20171115/20171115205746_1480796384.jpg&quot;) no-repeat center;width:100%;height:500px;display:block;" href="products.html"></a>
                </li>
                <li>
                    <a title="对客户的模具研发及产品的风格，我们会严格把握好工艺" style="background:url(&quot;http://login.114my.cn/memberpic/auknui/uploadfile/image/20171115/20171115212320_1830142059.jpg&quot;) no-repeat center;width:100%;height:500px;display:block;" href="dgweb-119361.html"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<!--搜索-->
<form name="form1" style="margin:0px;padding:0px;overflow:hidden;" action="products_s.html" method="get" onsubmit="document.cookie='key_word=' + (encodeURIComponent (document.getElementById('infoname').value));">
    <div id="search">
        <div class="totalwidth">
            <div class="search_l">
                <span>热门关键词：<a href="http://www.yanfei168.com/company.html" target="_blank">中式雕花浮雕</a></span>、<a href="http://www.yanfei168.com/dgweb-119404.html" target="_blank">铜硅胶模具</a>、<a href="http://www.yanfei168.com/products.html">精雕厂</a>、<a href="products.html">CNC电脑雕刻</a>、<a href="products-248680-0-0.html">精雕铜公</a>、<a href="products-248677-0-0.html">工艺品浮雕</a>、<a href="products-248679-0-0.html">高周波模具</a>、<a href="products.html">电木板雕刻</a>
            </div>
            <div id="search_r">
                <ul>
                    <li style="background:url(&quot;http://login.114my.cn/memberpic/auknui/uploadfile/image/20171114/20171114102103_647714040.jpg&quot;) no-repeat;width:266px;height:34px;">
                        <input name="infoname" class="input" id="infoname" style="background:none;margin:0px 0px 0px 10px;padding:0px;border:currentColor;border-image:none;width:240px;height:34px;color:#CCCCCC;line-height:32px;" size="13" value="请您输入关键词搜索" data-ke-onblur="if(this.value==''){this.value='请您输入关键词搜索';this.style.color='#cccccc'}" onfocus="if(this.value=='请您输入关键词搜索'){this.value='';this.style.color='#cccccc'}" />
                    </li>
                    <li style="width:44px;">
                        <input name="imageField" width="44" style="border:currentColor;border-image:none;" type="image" src="uploadfile/image/20171114/20171114102103_1600343521.jpg" />
                    </li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <script>
        var reg=/key_word=([^;]+)/img;
        var mc=reg.exec(document.cookie);
        document.getElementById("infoname").value = decodeURIComponent(mc[1]);</script>
</form>
<!--合作客户-->
<div class="partner_bg">
    <div class="partner_t">
        <span>燕飞五金模具</span>合作客户
    </div>
    <div class="totalwidth">
        <div class="partner_con">
            <p class="fl" id="range_l">
                <img alt="左箭头" src="http://login.114my.cn/memberpic/yqdz68/uploadfile/image/20171016/20171016091740_1624149998.png" />
            </p>
            <p class="fr" id="range_r">
                <img alt="右箭头" src="http://login.114my.cn/memberpic/yqdz68/uploadfile/image/20171016/20171016091744_1642164779.png" />
            </p>
            <div id="range_d" style="margin-top:10px;">
                <table width=100% border=0 align=center cellpadding=0 cellspacing=0><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773705.html>
                        <img src="uploadfile/image/20171114/20171114115832_630973143.jpg" width="240" height="120" border=0 alt="深圳嘉辉手袋厂有限公司">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773705.html title="深圳嘉辉手袋厂有限公司">
                            深圳嘉辉手袋厂有限公司
                        </a>
                    </div>
                </td><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773703.html>
                        <img src="uploadfile/image/20171114/20171114115809_1635674295.jpg" width="240" height="120" border=0 alt="富士康">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773703.html title="富士康">
                            富士康
                        </a>
                    </div>
                </td><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773702.html>
                        <img src="uploadfile/image/20171114/20171114105557_1366055297.jpg" width="240" height="120" border=0 alt="比亚迪">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773702.html title="比亚迪">
                            比亚迪
                        </a>
                    </div>
                </td><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773697.html>
                        <img src="uploadfile/image/20171114/20171114104448_696469158.jpg" width="240" height="120" border=0 alt="深圳杰美特">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773697.html title="深圳杰美特">
                            深圳杰美特
                        </a>
                    </div>
                </td><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773696.html>
                        <img src="uploadfile/image/20171114/20171114104415_1428091524.png" width="240" height="120" border=0 alt="吕美特">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773696.html title="吕美特">
                            吕美特
                        </a>
                    </div>
                </td><td align=center style=padding-left:5px;>
                    <a href=dgweb_content-773695.html>
                        <img src="uploadfile/image/20171114/20171114104340_1764736292.jpg" width="240" height="120" border=0 alt="深圳市众业达精工科技有限公司">
                    </a>
                    <br>
                    <div style=padding-top:5px;>
                        <a href=dgweb_content-773695.html title="深圳市众业达精工科技有限公司">
                            深圳市众业达精工科技有限公司
                        </a>
                    </div>
                </td></tr></table>
                <script src="http://login.114my.cn/memberpic/yqdz68/cssnew/productmobile.js"></script>
            </div>
            <div class="clear">
            </div>
            <script>
                var scrollPic_02 = new ScrollPic();
                scrollPic_02.scrollContId = "range_d"; // 内容容器ID""
                scrollPic_02.arrLeftId = "range_l"; //左箭头ID
                scrollPic_02.arrRightId = "range_r"; //右箭头ID
                scrollPic_02.frameWidth = 1000; //显示框宽度
                scrollPic_02.pageWidth = 250; //翻页宽度
                scrollPic_02.speed = 5; //移动速度(单位毫秒，越小越快)
                scrollPic_02.space = 20; //每次移动像素(单位px，越大越快)
                scrollPic_02.autoPlay = true; //自动播放
                scrollPic_02.autoPlayTime = 2; //自动播放间隔时间(秒)
                scrollPic_02.initialize(); //初始化
            </script>
        </div>
    </div>
</div>
<!--Sort-->
<div style="margin:40px auto;width:1112px;padding-left:12px;">
    <div id="Sort">
        <div id="Sort_t">
            <div class="Sort_h1">
                燕飞五金-产品分类
            </div>
            <div class="Sort_h2">
                product category
            </div>
        </div>
        <div id="Sort_d">
            <div id="Sort_flt">
                <div id="Sort_fltt">
                    <table width=96% border=0 cellpadding=0 cellspacing=0><tr>
                        <td height="50">
                            <a href=products-253149-0-0.html style='color:#0;;font-weight:1'
                               title="雕刻">雕刻
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248675-0-0.html style='color:#0;;font-weight:1'
                               title="硅胶模具">硅胶模具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248676-0-0.html style='color:#0;;font-weight:1'
                               title="铜工精雕加工">铜工精雕加工
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248678-0-0.html style='color:#0;;font-weight:1'
                               title="工装治具夹具">工装治具夹具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248679-0-0.html style='color:#0;;font-weight:1'
                               title="高周波电热压模具">高周波电热压模具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248681-0-0.html style='color:#0;;font-weight:1'
                               title="精密零件雕刻">精密零件雕刻
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248677-0-0.html style='color:#0;;font-weight:1'
                               title="工艺品浮雕">工艺品浮雕
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248682-0-0.html style='color:#0;;font-weight:1'
                               title="手板">手板
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-253146-0-0.html style='color:#0;;font-weight:1'
                               title="糖果模具">糖果模具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-253150-0-0.html style='color:#0;;font-weight:1'
                               title="烘焙蛋糕模具">烘焙蛋糕模具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248680-0-0.html style='color:#0;;font-weight:1'
                               title="门窗装饰配件">门窗装饰配件
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-253148-0-0.html style='color:#0;;font-weight:1'
                               title="转轴">转轴
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-253147-0-0.html style='color:#0;;font-weight:1'
                               title="口红模具">口红模具
                            </a>
                        </td>
                    </tr><tr>
                        <td height="50">
                            <a href=products-248683-0-0.html style='color:#0;;font-weight:1'
                               title="钨钢模具">钨钢模具
                            </a>
                        </td>
                    </tr></table>
                </div>
            </div>
            <style type="text/css">.ddsubmenustyle li a{width:auto;}.markermenu ul li a{font-size:14px;}</style>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="prod_t fr">
        <div id="tablit">
            <dl>
                <dt>
                </dt>
                <dd class="on" id="showtd0" onmouseover="javascript:div_show(0);">
                    <a href="products.html">产品推荐</a>
                </dd>

                <dt>
                </dt>
                <dd class="out" id="showtd1" onmouseover="javascript:div_show(1);">
                    <a href="products-248675-0-0.html">硅胶模雕刻</a>
                </dd>

                <dt>
                </dt>
                <dt>
                </dt>
            </dl>
        </div>
        <div class="clear">
        </div>
        <div class="prod_t1">
            <div class="tabcon cp beta" id="showdiv0">
                <table width=100% border=0 align=center cellpadding=0 cellspacing=0>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945729.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118141245_1567903565.jpg width="260" height="195" alt='高周波电热压模具' title='高周波电热压模具' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945729.html  target='_blank' title="高周波电热压模具">
                                高周波电热压模具
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945733.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118140954_80493336.jpg width="260" height="195" alt='雕刻高周波电热压模具' title='雕刻高周波电热压模具' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945733.html  target='_blank' title="雕刻高周波电热压模具">
                                雕刻高周波电热压模具
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945734.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118142244_1293949823.jpg width="260" height="195" alt='高周波电热压模具加工' title='高周波电热压模具加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945734.html  target='_blank' title="高周波电热压模具加工">
                                高周波电热压模具加工
                                </a>
                                </span></td>
                    </tr>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945739.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118142025_1830827336.jpg width="260" height="195" alt='高周波电热压模具雕刻' title='高周波电热压模具雕刻' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945739.html  target='_blank' title="高周波电热压模具雕刻">
                                高周波电热压模具雕刻
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945742.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118143415_1125117627.jpg width="260" height="195" alt='东莞高周波电热压模具雕刻加工' title='东莞高周波电热压模具雕刻加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945742.html  target='_blank' title="东莞高周波电热压模具雕刻加工">
                                东莞高周波电热压模具雕刻加工
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945743.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118143637_1364605275.jpg width="260" height="195" alt='高周波电热压模具雕刻加工' title='高周波电热压模具雕刻加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945743.html  target='_blank' title="高周波电热压模具雕刻加工">
                                高周波电热压模具雕刻加工
                                </a>
                                </span></td>
                    </tr>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945744.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118143832_1279770889.jpg width="260" height="195" alt='高周波电热压模具雕花' title='高周波电热压模具雕花' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945744.html  target='_blank' title="高周波电热压模具雕花">
                                高周波电热压模具雕花
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945746.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118144027_164337167.jpg width="260" height="195" alt='东莞高周波电热压模具雕花' title='东莞高周波电热压模具雕花' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945746.html  target='_blank' title="东莞高周波电热压模具雕花">
                                东莞高周波电热压模具雕花
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945747.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118144446_1162251492.jpg width="260" height="195" alt='工艺品浮雕雕刻' title='工艺品浮雕雕刻' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945747.html  target='_blank' title="工艺品浮雕雕刻">
                                工艺品浮雕雕刻
                                </a>
                                </span></td>
                    </tr>
                </table>
            </div>
            <div class="tabcon cp dis beta" id="showdiv1">
                <table width=100% border=0 align=center cellpadding=0 cellspacing=0>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945765.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118154016_1826661544.jpg width="260" height="195" alt='东莞硅胶模雕刻生产' title='东莞硅胶模雕刻生产' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945765.html  target='_blank' title="东莞硅胶模雕刻生产">
                                东莞硅胶模雕刻生产
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945766.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118154351_1107433515.jpg width="260" height="195" alt='硅胶模雕刻加工' title='硅胶模雕刻加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945766.html  target='_blank' title="硅胶模雕刻加工">
                                硅胶模雕刻加工
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945769.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118154711_1709004154.jpg width="260" height="195" alt='硅胶模雕刻加工生产' title='硅胶模雕刻加工生产' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945769.html  target='_blank' title="硅胶模雕刻加工生产">
                                硅胶模雕刻加工生产
                                </a>
                                </span></td>
                    </tr>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945770.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118154942_1872938011.jpg width="260" height="195" alt='东莞硅胶模雕刻加工生产' title='东莞硅胶模雕刻加工生产' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945770.html  target='_blank' title="东莞硅胶模雕刻加工生产">
                                东莞硅胶模雕刻加工生产
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945774.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118155500_859578638.jpg width="260" height="195" alt='硅胶模雕刻模具' title='硅胶模雕刻模具' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945774.html  target='_blank' title="硅胶模雕刻模具">
                                硅胶模雕刻模具
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945776.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118155813_344756256.jpg width="260" height="195" alt='东莞硅胶模雕刻模具' title='东莞硅胶模雕刻模具' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945776.html  target='_blank' title="东莞硅胶模雕刻模具">
                                东莞硅胶模雕刻模具
                                </a>
                                </span></td>
                    </tr>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945778.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118160802_2019648279.jpg width="260" height="195" alt='东莞硅胶模雕刻模具生产' title='东莞硅胶模雕刻模具生产' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945778.html  target='_blank' title="东莞硅胶模雕刻模具生产">
                                东莞硅胶模雕刻模具生产
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945780.html  target='_blank'>
                        <img src=uploadfile/image/20171114/20171114200003_1911349459.jpg width="260" height="195" alt='东莞硅胶模雕刻模具加工' title='东莞硅胶模雕刻模具加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945780.html  target='_blank' title="东莞硅胶模雕刻模具加工">
                                东莞硅胶模雕刻模具加工
                                </a>
                                </span></td>
                    <td align=center style=padding-left:5px>
                    <a href=products_content-1945783.html  target='_blank'>
                        <img src=uploadfile/image/20171118/20171118161242_939504582.jpg width="260" height="195" alt='东莞硅胶模雕刻模具生产加工' title='东莞硅胶模雕刻模具生产加工' border=0>
                    </a><br>
                    <span style="line-height:25px;">
                                <a href=products_content-1945783.html  target='_blank' title="东莞硅胶模雕刻模具生产加工">
                                东莞硅胶模雕刻模具生产加工
                                </a>
                                </span></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                var $$=function(id){return document.getElementById(id);}
                function div_show(total) {
                    for(i=0;i<=10;i++) { if (i==total) { $$('showdiv'+i).style.display="Block"; $$('showtd'+i).className='on'; }else { $$('showdiv'+i).style.display="None"; $$('showtd'+i).className='out'; } } } </script>
            <!--向上滚动代码结束-->
            <script type="text/javascript">
                $(".beta > table > tbody > tr > td").each(function(){
                    proatext = $(this).find('span').find('a').html();
                    proaurl = $(this).find('span').find('a').attr('href');
                    imgHzz=$(this).find('a').eq(0).outerHeight() - 35;
                    $(this).children('a').eq(0).append("
                        <div class="betago">
                        " + "<a>"  + proatext + "" + "</a>" + "
                    </div>
                    ");
                    $(this).find('.ceshigo').find('a').attr('href',proaurl);
                    $(this).find('.betago').css({
                        'line-height': imgHzz + 'px'
                    });
                });
            </script>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<!--应用案例/-->
<div id="case_bg">
    <div class="totalwidth">
        <div class="case_t">
            应用案例
        </div>
        <div class="clear">
        </div>
        <div class="case_t1">
            广泛应用于五金厂、模具厂、塑胶厂、硅胶厂、制罐厂，机械厂，模型厂、皮具厂、商标厂、拉链厂、纽扣厂、皮具厂&nbsp;电子厂，工艺礼品行业
        </div>
        <div class="clear">
        </div>
        <div class="case_d">
            <DIV id=roller_left style="OVERFLOW: hidden; WIDTH: 1100px; HEIGHT: 210px">
                <TABLE>
                    <TR>
                        <TD id=roller_content>
                            <table width="1100" border=0 cellspacing=0 cellpadding=0 align=center>
                                <tr><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774193.html>
                                        <img src=uploadfile/image/20171115/20171115112810_976493327.jpg width="260" height="195" border=0 alt="机械厂应用案例">
                                    </a>
                                    <a href=dgweb_content-774193.html>
                                        <br>
                                        机械厂应用案例
                                    </a>
                                </td><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774191.html>
                                        <img src=uploadfile/image/20171115/20171115112626_52303121.jpg width="260" height="195" border=0 alt="纽扣厂应用案例">
                                    </a>
                                    <a href=dgweb_content-774191.html>
                                        <br>
                                        纽扣厂应用案例
                                    </a>
                                </td><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774190.html>
                                        <img src=uploadfile/image/20171115/20171115112240_1311089289.jpg width="260" height="195" border=0 alt="硅胶厂应用案例">
                                    </a>
                                    <a href=dgweb_content-774190.html>
                                        <br>
                                        硅胶厂应用案例
                                    </a>
                                </td><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774179.html>
                                        <img src=uploadfile/image/20171115/20171115111527_2018841907.jpg width="260" height="195" border=0 alt="皮具厂应用案例">
                                    </a>
                                    <a href=dgweb_content-774179.html>
                                        <br>
                                        皮具厂应用案例
                                    </a>
                                </td><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774177.html>
                                        <img src=uploadfile/image/20171115/20171115110951_841258930.jpg width="260" height="195" border=0 alt="制罐厂应用案例">
                                    </a>
                                    <a href=dgweb_content-774177.html>
                                        <br>
                                        制罐厂应用案例
                                    </a>
                                </td><td align=center style="padding-left:5px;line-height:20px;color:#0">
                                    <a href=dgweb_content-774175.html>
                                        <img src=uploadfile/image/20171115/20171115110437_1089602443.jpg width="260" height="195" border=0 alt="工艺礼品行业应用案例">
                                    </a>
                                    <a href=dgweb_content-774175.html>
                                        <br>
                                        工艺礼品行业应用案例
                                    </a>
                                </td></tr></table></TD><TD id=roller_temp vAlign=top ></TD></TR></TABLE></DIV><script language="JavaScript" type="text/JavaScript">
            var h_roller_speed_dzweb=25
            roller_temp.innerHTML=roller_content.innerHTML
            function H_Roller_Marquee_dzweb(){
                if(roller_temp.offsetWidth-roller_left.scrollLeft<=0)
                    roller_left.scrollLeft-=roller_content.offsetWidth
                else{
                    roller_left.scrollLeft++
                }
            }
            var h_roller_variable_dzweb=setInterval(H_Roller_Marquee_dzweb,h_roller_speed_dzweb)
            roller_left.onmouseover=function() {clearInterval(h_roller_variable_dzweb)}
            roller_left.onmouseout=function() {h_roller_variable_dzweb=setInterval(H_Roller_Marquee_dzweb,h_roller_speed_dzweb)}
        </script>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--广告/-->
<div id="advert_bg">
    <div class="totalwidth">
        <div class="advert_c">
            <div class="t1">
                <span>广泛应用于：</span>五金厂、模具厂、塑胶厂.、硅胶厂、制罐厂，机械厂，模型厂、皮具厂、商标厂、拉链厂、纽扣厂、皮具厂&nbsp;电子厂，工艺礼品行业等。
            </div>
            <div class="t2">
                <span>加工材质范围：</span>钢、铁、铜、铝、木、石头、塑料等
            </div>
            <div class="t3">
                <a href="dgweb-119361.html">立即咨询</a>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--优势/-->
<div id="superior">
    <div class="totalwidth">
        <div class="superior_t">
            燕飞五金模具
        </div>
        <div class="superior_t1">
            <div class="t1">
                专注于定制生产加工雕刻精密模具
            </div>
            <div class="t2">
                可根据客户提供的图纸样本研发生产加工
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div id="superior_bg">
    <div class="totalwidth">
        <div class="superior_fr">
            <div class="superior_h1">
                多年专注于雕刻精密模具
            </div>
            <div class="superior_h2">
                东莞市常平燕飞五金模具厂成立于2011年，专业从事雕刻精密模具，拥有一批从事精雕十几年的专业技术人员，先进的CNC北京精雕机，本加工厂设备齐全，技术先进，管理严格，确保产品满足客户的要求
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="superior_fr" style="margin-top:2px;">
            <div class="superior_h1">
                可来图来样定制生产加工
            </div>
            <div class="superior_h2">
                客户可来图来样研发定制生产加工，我们的技术骨干有着多年的浮雕行业经验，加之使用国内先进的北京精雕机床及数控车床设备。我们会严格把握好工艺，精雕细啄，精益求精！精通各类模具制作
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div id="superior_bg1">
    <div class="totalwidth">
        <div class="superior_fl">
            <div class="superior_h1">
                产品应用范围广泛
            </div>
            <div class="superior_h2">
                我们是地家专业的雕刻精密模具厂家，产品广泛应用于：五金厂、模具厂、塑胶厂、硅胶厂、制罐厂、机械厂、模型厂、皮具厂、商标厂、拉链厂、纽扣厂、皮具厂&nbsp;电子厂、工艺礼品行业等
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="superior_fl" style="margin-top:2px;">
            <div class="superior_h1">
                完善的售后服务体系
            </div>
            <div class="superior_h2">
                公司秉承以“品质，服务，诚信，效率”为宗旨，为您提供专业到位的售前、售后服务，做到以客户为中心，与此同时，解决您的疑惑，让您无后顾之忧，以最精密的质量、最快捷的交期、最合理的价格真诚服务于广大新老客户
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--公司简介/-->
<div id="company">
    <div class="totalwidth">
        <div class="company_l">
            <script src="new_web_flash_news1-119405-430-322-f57f01-6.html"></script>
        </div>
        <div class="company_r">
            <div class="r1">
                来图来样定制加工雕刻精密模具
            </div>
            <div class="clear">
            </div>
            <div class="r2">
                东莞市常平燕飞五金模具厂
            </div>
            <div class="r3">
                东莞市常平燕飞五金模具厂成立于2011年，是一家专业从事雕刻精密模具厂家，拥有一批从事精雕十几年的专业技术人员，先进的CNC北京精雕机，本加工厂设备齐全，技术先进，管理严格，确保产品满足客户的要求。公司一直以实干和专业著称，按客户提供的图纸研发生产，以及来图来样等多方面的加工。我们的技术骨干有着多年的浮雕及行业上的经验，加之使用国内最先进的北京精雕机床及数控车床设备。对客户的研发模具及产品的风格，我们会严格把握好工艺......
            </div>
            <div class="clear">
            </div>
            <div class="r4">
                <a href="company.html">+点击更多</a>
            </div>
            <div class="r4">
                <a href="dgweb-119405.html">+企业形象</a>
            </div>
            <div class="r4">
                <a href="feedback.html">+在线留言</a>
            </div>
            <div class="r4" style="margin-right:0px;">
                <a href="dgweb-119361.html">+联系我们</a>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--定制/-->
<div id="process_t">
    <div class="t1">
        精密模具定制流程
    </div>
    <div class="t2">
        Precision mold customization process
    </div>
</div>
<div id="process_c">
    <div class="process_m">
        <ul>
            <li>
                客户QQ/电话咨询
            </li>
            <li>
                来图来样研究讨论
            </li>
            <li>
                确认定制签定合同
            </li>
            <li>
                模具制作生产
            </li>
            <li>
                模具完成验收
            </li>
            <li>
                售后跟进服务
            </li>
        </ul>
    </div>
</div>
<!--新闻-->
<div id="news">
    <div class="lanrenzhijia">
        <div class="tab">
            <a class="on" href="news.html">新闻中心</a> <a href="dgweb-118968.html">常见问题</a>
        </div>
        <div class="content">
            <ul class="ul">
                <li class="li">
                    <div class="news2">
                        <div class="news21">
                            <div class="news_div"><div class="news_div_item"><div class="news_div_item_date"></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-680754.html" title="铜公常用的加工方法">铜公常用的加工方法</a></div>
                                <div class="news_div_item_body">
                                    (1)精铣上表面，加工方法采用MILL_FINISH，操作采用FACING_MILLI...</div>
                            </div> <div class="news_div_item_pic">
                                <a href="news_content-680754.html" title="铜公常用的加工方法">
                                    <img src="uploadfile/image/20171114/20171114200622_1909425499.jpg" class="news_div_item_image" title="铜公常用的加工方法" alt="铜公常用的加工方法">
                                </a>
                            </div></div></div>
                        </div>
                        <div class="news22">
                            <div class="news_div"><div class="news_div_item"><div class="news_div_item_date"><div class="news_div_item_year">2018 / </div><div class="news_div_item_month">07</div><div class="news_div_item_day">11</div></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-680754.html" title="铜公常用的加工方法">铜公常用的加工方法</a></div>
                                <div class="news_div_item_body">
                                    (1)精铣上表面，加工方法采用MILL_FINISH，操作采用FACING_MILLI...</div>
                            </div></div><div class="news_div_item"><div class="news_div_item_date"><div class="news_div_item_year">2018 / </div><div class="news_div_item_month">07</div><div class="news_div_item_day">10</div></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-680519.html" title="什么叫铜工(公),为什么要拆铜工(公)?">什么叫铜工(公),为什么要拆铜工(公)?</a></div>
                                <div class="news_div_item_body">


                                    1.铜公在内地也叫电极；因为电极大部份都采用红铜加工，因红铜的导电性好和...</div>
                            </div></div><div class="news_div_item"><div class="news_div_item_date"><div class="news_div_item_year">2018 / </div><div class="news_div_item_month">01</div><div class="news_div_item_day">25</div></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-650820.html" title="CNC精雕加工的问与答">CNC精雕加工的问与答</a></div>
                                <div class="news_div_item_body">
                                    精雕加工 CNC精雕 精加工 雕刻厂家 东莞模具 &nbsp;常平雕刻厂家 桥头精雕厂...</div>
                            </div></div><div class="news_div_item"><div class="news_div_item_date"><div class="news_div_item_year">2018 / </div><div class="news_div_item_month">01</div><div class="news_div_item_day">03</div></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-637554.html" title="浮雕雕刻木板的日常维护">浮雕雕刻木板的日常维护</a></div>
                                <div class="news_div_item_body">浮雕雕刻的木板在日常使用中是需要进行一些护理的，这也是想要木雕工艺家居饰品“青春永葆”的一...</div>
                            </div></div><div class="news_div_item"><div class="news_div_item_date"><div class="news_div_item_year">2018 / </div><div class="news_div_item_month">01</div><div class="news_div_item_day">03</div></div> <div class="news_div_item_content">
                                <div class="news_div_item_title"><a class="news_div_item_a" href="news_content-637553.html" title="选择合适的雕刻机来雕刻加工">选择合适的雕刻机来雕刻加工</a></div>
                                <div class="news_div_item_body">电脑雕刻机有激光雕刻和机械雕刻两类，这两类都有大功率和小功率之分。因为雕刻机的应用范围非常...</div>
                            </div></div></div>
                        </div>
                    </div>
                </li>
                <li class="li">
                    <div class="news2">
                        <div class="news21">
                            <div class='divdgweb_new_div'><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774064.html" title="浮雕雕刻在选材时需要注意的事项">浮雕雕刻在选材时需要注意的事项</a></div>
                                <div class="divdgweb_new_div_item_body">在进行浮雕雕刻时，由于石料的种类如此之多，因此，即使在同一建筑中，也需要根据部位...</div>
                            </div> <div class="news_div_item_pic">
                                <a href="dgweb_content-774064.html">
                                    <img src="uploadfile/image/20171115/20171115094324_1876731488.jpg" class="news_div_item_image" title="浮雕雕刻在选材时需要注意的事项" alt="浮雕雕刻在选材时需要注意的事项">
                                </a>
                            </div></div></div>
                        </div>
                        <div class="news22">
                            <div class='divdgweb_new_div'><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017/</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774064.html" title="浮雕雕刻在选材时需要注意的事项">浮雕雕刻在选材时需要注意的事项</a></div>
                                <div class="divdgweb_new_div_item_body">在进行浮雕雕刻时，由于石料的种类如此之多，因此，即使在同一建筑中，也需要根据部位的不同而选...</div>
                            </div></div><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017/</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774061.html" title="钨钢模具的特点与定义">钨钢模具的特点与定义</a></div>
                                <div class="divdgweb_new_div_item_body">1、具有高硬度：82.0～93.6HRA，具体视应用情况优选。2、高抗弯强度：2500～4...</div>
                            </div></div><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017/</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774059.html" title="浮雕雕刻简介和特征">浮雕雕刻简介和特征</a></div>
                                <div class="divdgweb_new_div_item_body">浮雕雕刻，是在平面上雕刻出凹凸起伏形象的一种雕塑，是一种介于圆雕和绘画 之间的艺术表现形式...</div>
                            </div></div><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017/</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774051.html" title="雕刻模具怎么雕刻加工">雕刻模具怎么雕刻加工</a></div>
                                <div class="divdgweb_new_div_item_body">1、雕刻模具每天开始加工前，应该做什么准备工作开机后的依次需要完成的工作是：机检查主轴冷却...</div>
                            </div></div><div class="divdgweb_new_div_item"><div class="divdgweb_new_div_item_date"><div class="divdgweb_new_div_item_year">2017/</div><div class="divdgweb_new_div_item_month">11</div><div class="divdgweb_new_div_item_day">15</div></div> <div class="divdgweb_new_div_item_content">
                                <div class="divdgweb_new_div_item_title"><a class="divdgweb_new_div_item_a" href="dgweb_content-774049.html" title="雕刻加工中可能出现的问题">雕刻加工中可能出现的问题</a></div>
                                <div class="divdgweb_new_div_item_body">雕刻加工中出现断刀实际上就是刀具的受力有了变化或本身的一些影响因素过大。那么相关的原因就是...</div>
                            </div></div></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(function() {
            $('.lanrenzhijia .content .ul').width(1100 * $('.lanrenzhijia .content li').length + 'px');
            $(".lanrenzhijia .tab a").mouseover(function() {
                $(this).addClass('on').siblings().removeClass('on');
                var index = $(this).index();
                number = index;
                var distance = -1100 * index;
                $('.lanrenzhijia .content .ul').stop().animate({
                    left: distance
                });
            });
            var auto = 0; //等于1则自动切换，其他任意数字则不自动切换
            if (auto == 1) {
                var number = 0;
                var maxNumber = $('.lanrenzhijia .tab a').length;
                function autotab() {
                    number++;
                    number == maxNumber ? number = 0 : number;
                    $('.lanrenzhijia .tab a:eq(' + number + ')').addClass('on').siblings().removeClass('on');
                    var distance = -1100 * number;
                    $('.lanrenzhijia .content .ul').stop().animate({
                        left: distance
                    });
                }
                var tabChange = setInterval(autotab, 3000);
                //鼠标悬停暂停切换
                $('.lanrenzhijia').mouseover(function() {
                    clearInterval(tabChange);
                });
                $('.lanrenzhijia').mouseout(function() {
                    tabChange = setInterval(autotab, 3000);
                });
            }
        });
    </script>
</div>
<!--link-->
<div id="link_bg">
    <div class="totalwidth">
        <div class="link_z">
            友情链接/<span>Links：</span>
        </div>
        <div class="link_y">
            <style type='text/css'>
                .linkTagcs
                {
                    width:920px;
                    height:auto;}
                .linkTagcs ul
                {margin:0px;padding:0px;list-style-type:none;}
                .linkTagcs li
                {list-style:none;margin:0px;  padding-right:10px;line-height:60px;float:left;}
                .linkTagcs li a
                {color:#fff;word-break:break-all;}
                .linkTagcs li img
                {border:0px;}
            </style>
            <div class='linkTagcs'>
                <ul><li>
                    <a href=http://www.yanfei168.com target=_blank style='color:#fff'>
                        CNC电脑雕刻
                    </a>
                </li><li>
                    <a href=http://www.jingyicnc.com target=_blank style='color:#fff'>
                        精溢电脑雕刻加工
                    </a>
                </li><li>
                    <a href=http://www.114my.net target=_blank style='color:#fff'>
                        广东朝阳企讯通科技有限公司
                    </a>
                </li></ul></div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!--版权-->
<div id="copyright">
    <div id="copyright_t">
        <a href="/">网站首页</a> <a href="products.html">产品中心</a> <a href="dgweb-119404.html">应用案例</a> <a href="dgweb-119378.html">合作客户</a> <a href="company.html">关于燕飞</a> <a href="dgweb-119405.html">企业形象</a> <a href="news.html">新闻资讯</a> <a href="dgweb-118968.html">常见问题</a> <a href="feedback.html">在线留言</a> <a href="dgweb-119361.html">联系燕飞</a>
    </div>
    <div class="totalwidth">
        <div class="copyright_c">
            东莞市常平燕飞五金模具厂 版权所有 &copy; Copyright 2017【<a href="sitemap.xml" target="_blank">Gmap</a>】技术支持：<a href="http://copyright.114my.net/" target="_blank">东莞网站建设</a> 访问量：
            <script language="javascript" src="http://login.114my.cn/app/webfwl.php?member=yqdz68"></script>
            <br />
            地址：东莞市常平镇黄泥塘新兴工业大道北一巷5号 18676043105 / 胡小姐【<a href="guanli.htm" target="_blank">后台管理</a>】<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17043860号-2</a><br />
            *本站相关网页素材及相关资源均来源互联网，如有侵权请速告知，我们将会在24小时内删除*
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1269592977'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1269592977%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            <br />
            热门搜索：<a href="http://www.yanfei168.com/products.html" target="_blank">铜硅胶模具</a>、<a href="products.html">CNC电脑雕刻</a>、<a href="products-248680-0-0.html">精雕铜公</a>、<a href="products-248677-0-0.html">工艺品浮雕</a>、<a href="products-248679-0-0.html">高周波模具</a>
        </div>
        <div class="fr" style="margin-top:10px;">
            <img alt="扫一扫下载APP二维码" src="uploadfile/image/20171114/20171114201955_595451709.png" /><img style="margin-left:20px;" alt="扫一扫下载微信公众号" src="uploadfile/image/20171215/20171215093646_949933859.png" />
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<style>
    /*浮动QQ*/
    .back-top-container { display: block; position: fixed; right: 50px; bottom: 50px; cursor: pointer; z-index: 99999;}
    .back-top { opacity: 0.8; width: 32px; height: 32px; z-index:10000000; background: #868686 url(http://login.114my.cn/memberpic/dg57229/uploadfile/image/20170415/20170415171251_1727876643.png) center center no-repeat; }
    .back-top:hover { opacity: 1; }
    .back-top-text { margin-top: 3px; padding-left: 7.5px; width: 32px; border: 1px solid #000; border-radius: 5px; background: #fff; }
    .back-top:hover {opacity: 1; }
    .yb_conct { position: fixed; z-index: 9999999; top: 100px; right: -127px; cursor: pointer; transition: all .3s ease; }
    .yb_bar ul li {width: 180px;  height: 53px;  font: 15px/53px 'Microsoft YaHei';  color: #fff;  text-indent: 54px;  margin-bottom: 1px;  border-radius: 3px; transition: all .5s ease;  overflow: hidden; }
    .yb_bar .yb_top {background: #0089e2 url(http://login.114my.cn/memberpic/dg57229/uploadfile/image/20170415/20170415171251_1727876643.png) no-repeat 0 0; }
    .yb_bar .yb_phone {background: #0089e2 url(http://login.114my.cn/memberpic/dg57229/uploadfile/image/20170415/20170415171251_1727876643.png) no-repeat 0 -57px; }
    .yb_bar .yb_QQ {text-indent: 0;  background: #0089e2 url(http://login.114my.cn/memberpic/dg57229/uploadfile/image/20170415/20170415171251_1727876643.png) no-repeat 0 -113px;}
    .yb_bar .yb_ercode {  background: #0089e2 url(http://login.114my.cn/memberpic/dg57229/uploadfile/image/20170415/20170415171251_1727876643.png) no-repeat 0 -169px; }
    .hd_qr { padding: 0 29px 25px 29px; }
    .yb_QQ a { display: block; text-indent: 54px; font-size:15px;  width: 100%;  height: 100%;  color: #fff; }
</style>
<!--浮动qq-->
<script src="http://login.114my.cn/memberpic/dgmingjia/cssnew/gototop.js"></script>
<div class="back-top-container" id="gotop">
    <div class="yb_conct">
        <div class="yb_bar">
            <ul>
                <li class="yb_top">
                    返回顶部
                </li>
                <li class="yb_phone">
                    18676043105
                </li>
                <li class="yb_QQ">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2273302131&site=东莞市常平燕飞五金模具厂&menu=yes" target="_blank">2273302131</a>
                </li>
                <li class="yb_ercode" style="height:53px;">
                    扫描燕飞五金APP <br />
                    <img width="125" class="hd_qr" src="uploadfile/image/20171205/20171205085326_1617079261.png" />
                </li>
                <li class="yb_ercode" style="height:53px;">
                    扫描关注公众号 <br />
                    <img width="125" class="hd_qr" src="uploadfile/image/20171215/20171215093138_1328869853.jpg" />
                </li>
                <li class="yb_ercode" style="height:53px;">
                    微信小程序<br />
                    <img width="125" class="hd_qr" src="uploadfile/image/20171221/20171221112357_478194884.jpg" />
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    if (window.attachEvent) {
        window.attachEvent("onload", tongji);
    } else if (window.addEventListener) {
        window.addEventListener("load", tongji, false);
    }
    function tongji() {
        var pageUrl = "http://tj.114my.cn/?u_data=0VOLPceiKeAsWd5oWaXa2mCXmcp4kHU7bCp3YHU1BXleNUwD5uZGIZZl38Oc3vVwkPAxSIoHYmmFvqUYAzcK9NScu%2FfKiCGY";
        var sourceUrl = encodeURIComponent(document.referrer);

        var bodyText = document.getElementsByTagName('body')[0];
        var script= document.createElement('script');
        script.onload = script.onreadystatechange = function() {
            if(!this.readyState || this.readyState === "loaded" || this.readyState === "complete" ){
                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };
        script.src = pageUrl+'&source_url='+sourceUrl;;
        bodyText.appendChild(script);
    }
</script>

</body>
</html>