
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="SHOP++ Team">
    <meta name="copyright" content="SHOP++">
    <title>产品列表 - 云琰</title>
    <link href="/favicon.ico" rel="icon">
    <link href="__ADMIN__/css/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/css/iconfont.css" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.css" rel="stylesheet">
    <link href="__ADMIN__/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__ADMIN__/css/bootstrap-select.css" rel="stylesheet">
    <link href="__ADMIN__/css/base.css" rel="stylesheet">
    <link href="__ADMIN__/css/base_3.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/resources/common/js/html5shiv.js"></script>
    <script src="/resources/common/js/respond.js"></script>
    <![endif]-->
    <script src="__ADMIN__/js/jquery_1.js"></script>
    <script src="__ADMIN__/js/bootstrap_1.js"></script>
    <script src="__ADMIN__/js/bootstrap-growl_1.js"></script>
    <script src="__ADMIN__/js/bootbox.js"></script>
    <script src="__ADMIN__/js/jquery.nicescroll.js"></script>
    <script src="__ADMIN__/js/jquery.cookie_1.js"></script>
    <script src="__ADMIN__/js/underscore_1.js"></script>
    <script src="__ADMIN__/js/url_1.js"></script>
    <script src="__ADMIN__/js/velocity.js"></script>
    <script src="__ADMIN__/js/velocity.ui.js"></script>
    <script src="__ADMIN__/js/base_1.js"></script>
    <script src="__ADMIN__/js/base.js"></script>
    <script>
        $().ready(function() {

            var $delete = $("[data-action='delete']");
            var $shelves = $("#shelves");
            var $shelf = $("#shelf");
            var $ids = $("input[name='ids']");

            // 删除
            $delete.on("success.shopxx.delete", function() {
                $shelves.add($shelf).attr("disabled", true);
            });

            // 上架
            $shelves.click(function() {
                bootbox.confirm("您确定要上架吗？", function(result) {
                    if (result == null || !result) {
                        return;
                    }

                    $.post("/admin/product/shelves", $("input[name='ids']").serialize(), function() {
                        location.reload(true);
                    });
                });
            });

            // 下架
            $shelf.click(function() {
                bootbox.confirm("您确定要下架吗？", function(result) {
                    if (result == null || !result) {
                        return;
                    }

                    $.post("/admin/product/shelf", $("input[name='ids']").serialize(), function() {
                        location.reload(true);
                    });
                });
            });

            // ID多选框
            $ids.change(function() {
                $shelves.add($shelf).attr("disabled", $("input[name='ids']:checked").length < 1);
            });

        });
    </script>
</head>
<body class="admin">
{include file="common/head"}
<script>
    $().ready(function() {

        var $document = $(document);
        var $mainHeaderLogout = $("#mainHeaderLogout");

        // 用户注销
        $mainHeaderLogout.click(function() {
            $document.trigger("loggedOut.shopxx.user", $.getCurrentUser());
        });

    });
</script>
<script>
    $().ready(function() {

        var $window = $(window);
        var $body = $("body");
        var $mainSidebarCollapseToggle = $("[data-toggle='mainSidebarCollapse']");
        var $mainSidebar = $("#mainSidebar");
        var $searchForm = $("#mainSidebar .search form");
        var $searchValue = $("#mainSidebar .search input[name='searchValue']");
        var $panelCollapse = $("#mainSidebar .panel-collapse");

        // 主侧边栏折叠
        $mainSidebarCollapseToggle.click(function() {
            var niceScroll = $mainSidebar.getNiceScroll();
            var interval = setInterval(function() {
                niceScroll.resize();
            }, 10);

            if ($window.width() > 767) {
                $body.removeClass("main-sidebar-expanded").toggleClass("main-sidebar-mini");
            } else {
                $body.removeClass("main-sidebar-mini").toggleClass("main-sidebar-expanded");
            }

            $body.one("bsTransitionEnd", function() {
                niceScroll.resize();
                window.clearInterval(interval);
            }).emulateTransitionEnd(500);
        });

        // 主侧边栏滚动条
        $mainSidebar.niceScroll({
            cursorwidth: "4px",
            cursorcolor: "#ffffff",
            cursorborder: "0px",
            cursoropacitymax: 0.4
        });

        // 搜索
        $searchForm.submit(function() {
            if ($.trim($searchValue.val()) == "") {
                return false;
            }
        });

        // 面板折叠
        $panelCollapse.on("shown.bs.collapse hidden.bs.collapse", function() {
            $mainSidebar.getNiceScroll().resize();
        });

    });
</script>
{include file="common/left"}
<main>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li>
                <a href="/admin/index">
                    <i class="iconfont icon-homefill"></i>
                    首页
                </a>
            </li>
            <li class="active">产品列表</li>
        </ol>
        <form action="" method="post">
            <input name="pageSize" type="hidden" value="20">
            <div id="filterModal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">更多选项</h5>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">确 定</button>
                            <button class="btn btn-default" type="button" data-dismiss="modal">取 消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <div class="btn-group">
                                <a class="btn btn-default" href="{:url('admin/Product/padd')}" data-redirect-url="/admin/navigation/list">
                                    <i class="iconfont icon-add"></i>
                                    添加
                                </a>
                                <button class="btn btn-default" type="button" data-action="delete" disabled>
                                    <i class="iconfont icon-close"></i>
                                    删除
                                </button>
                                <button class="btn btn-default" type="button" data-action="refresh">
                                    <i class="iconfont icon-refresh"></i>
                                    刷新
                                </button>
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        每页显示
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-page-size="10">
                                            <a href="javascript:;">10</a>
                                        </li>
                                        <li class="active" data-page-size="20">
                                            <a href="javascript:;">20</a>
                                        </li>
                                        <li data-page-size="50">
                                            <a href="javascript:;">50</a>
                                        </li>
                                        <li data-page-size="100">
                                            <a href="javascript:;">100</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div id="search" class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-toggle="dropdown">
                                        <span>名称</span>
                                        <!--<span class="caret"></span>-->
                                    </button>
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li data-search-property="name">-->
                                            <!--<a href="javascript:;">名称</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                </div>
                                <input name="searchValue" class="form-control" type="text" value="" placeholder="搜 索" x-webkit-speech="x-webkit-speech" x-webkit-grammar="builtin:search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="iconfont icon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <input type="checkbox" data-toggle="checkAll">
                                        <label></label>
                                    </div>
                                </th>
                                <th>
                                    <a href="javascript:;" data-order-property="sn">
                                        编号
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:;" data-order-property="name">
                                        名称
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:;" data-order-property="productCategory">
                                        产品分类
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>

                                <th>
                                    <a href="javascript:;" data-order-property="isMarketable">
                                        是否显示
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:;" data-order-property="createdDate">
                                        添加日期
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="javascript:;" data-order-property="createdDate">
                                        产品图片
                                        <i class="iconfont icon-biaotou-kepaixu"></i>
                                    </a>
                                </th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="pList" id="pList"}
                                <tr>
                                <td>
                                    <div class="checkbox">
                                        <input name="ids" type="checkbox" value="{$pList.id}">
                                        <label></label>
                                    </div>
                                </td>
                                <td>
                                    <span>{$pList.id}</span>
                                </td>
                                <td>
                                    {$pList.pname}
                                </td>
                                    <!--icon-close-->
                                <td>
                                    {$pList.nav_name}
                                </td>
                                <td>
                                    {if condition="$pList.enable eq 1"}
                                        <i class="text-green iconfont icon-check"></i>
                                    {else/}
                                        <i class="text-red iconfont icon-close"></i>
                                    {/if}
                                </td>
                                <td>{$pList.time|date="Y-m-d H:i",###}</td>
                                <td>
                                    {if condition="$pList.thumb"}
                                        <img style="width: 30px;height: 30px" src="__UPLOADS__/{$pList.thumb}">
                                    {else/}
                                        <img style="width: 30px;height: 30px" src="__LOGO__">
                                    {/if}
                                </td>
                                <td>
                                    <a class="btn btn-default btn-xs btn-icon" href="{:url('Product/pEdit',array('id' => $pList.id))}" title="编辑" data-toggle="tooltip" data-redirect-url>
                                        <i class="iconfont icon-write"></i>
                                    </a>
                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <ul class="pagination">
                        {$page}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>