<div id="copyright">
    <div id="copyright_t">
        <a href="/">网站首页</a> <a href="products.html">产品中心</a> <a href="dgweb-119404.html">应用案例</a> <a href="dgweb-119378.html">合作客户</a> <a href="company.html">关于平特精</a> <a href="dgweb-119405.html">企业形象</a> <a href="news.html">新闻资讯</a> <a href="dgweb-118968.html">常见问题</a> <a href="feedback.html">在线留言</a> <a href="dgweb-119361.html">联系平特精</a>
    </div>
    <div class="totalwidth">
        <div class="copyright_c">
            {$infoCopy['content']}【<a href="sitemap.xml" target="_blank">云琰</a>】技术支持：<a href="http://copyright.114my.net/" target="_blank">云琰网站建设</a>
            <br />
            地址：{$infoAddress['content']} {$infoPhone['content']} / {$infoPhone['sname']}【<a href="guanli.htm" target="_blank">后台管理</a>】<a href="http://www.miitbeian.gov.cn" target="_blank">{$infoRecord['content']}</a><br />
            *本站相关网页素材及相关资源均来源互联网，如有侵权请速告知，我们将会在24小时内删除*
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1269592977'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1269592977%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <br />
            热门搜索：<a href="http://www.yanfei168.com/products.html" target="_blank">铜硅胶模具</a>、<a href="products.html">CNC电脑雕刻</a>、<a href="products-248680-0-0.html">精雕铜公</a>、<a href="products-248677-0-0.html">工艺品浮雕</a>、<a href="products-248679-0-0.html">高周波模具</a>
        </div>
        <div class="fr" style="margin-top:10px;">
            <img style="width: 170px;height: 140px" alt="{$infoApp['sname']}" src="__UPLOADS__/{$infoApp['thumb']}" />
            <img style="margin-left:20px;width: 170px;height: 140px" alt="{$infoWechat['sname']}" src="__UPLOADS__/{$infoWechat['thumb']}" />
        </div>
    </div>
    <div class="clear">
    </div>
</div>